node_modules/
package-lock.json
freelance.sqlite3
db/freelance.sqlite3
uploads/
memory-bank/
.env
frontend/.angular/
frontend/dist/
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/*lock*
src/config/seed*
