<header class="header">
  <div class="header-inner">
    <a class="brand" routerLink="/">FJB</a>

    <nav class="main-nav">
      <a class="nav-link" routerLink="/find-work">Find work</a>

      <a class="nav-link" routerLink="/hire">Hire freelancers</a>

      <a class="nav-link" routerLink="/about">About us</a>
    </nav>

    <nav class="header-nav">
      <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn">
        <a class="nav-link" routerLink="/login">Log in</a>
        <a class="nav-btn" routerLink="/register">Sign up</a>
      </ng-container>

      <ng-template #loggedIn>
          <a class="profile-link" routerLink="/profile" *ngIf="auth.getUser() as user">
            <span class="profile-pic">
              <img *ngIf="user.profile_image_url; else initials" [src]="user.profile_image_url" alt="Profile" />
              <ng-template #initials>
                <span class="initials">{{ getInitials(user) }}</span>
              </ng-template>
            </span>
          </a>
        <button class="nav-link profile-logout" (click)="logout()">
          <img src="/pictures/logout_icon.png" alt="Logout" width="25" height="25"/>
        </button>
      </ng-template>
    </nav>
  </div>
</header>