<section class="about-page">
  <div class="container">
    <br>
    <h1>About us</h1>
    <p>
      Freelance Job Board is a small project built to connect clients and freelancers.
      This site demonstrates a basic jobs board with authentication, categories, and job proposals.
    </p>

    <h2>Documents submitted to ELF</h2>
    <a href="/docs/fjb_er_final.pdf" download>ERA model PDF</a>
    <br>
    <a href="/docs/WAD-2025-Freelance-Job-Board-Team_05.pdf" download>Project Proposal PDF</a>
    <br>
    <a href="/docs/REST_endpoints_WAD.pdf" download>REST Endpoints PDF</a>
    <br>

  </div>
</section>
